# Node modules
/node_modules
/services/api-gateway/node_modules
/services/common/node_modules
/services/ms-admin/node_modules
/services/ms-almacen/node_modules
/services/ms-seguridad/node_modules
/services/ms-ventas/node_modules

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/build

# Miscellaneous
.DS_Store

# SQL database files: Dev, Test, Prod
db_local.sql



